.update{
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 50%;
    height: 50%;
    z-index: 999;
    padding: 50px;
    background-color: white;
    margin: auto;
}